body {
    color: black;
}

/* All headers in all articles */
h1, h2, h3, h4, h5, h6 {
    color: #312697;
}

/* Main navigation */
.navbar-inverse {
    background-color: #113E70;
    border-color: #062C57;
}

    .navbar-inverse .navbar-brand {
        padding-right: 15px;
    }

    .navbar-inverse #logo {
        width: 50px;
        height: 50px;
    }

    /* Show/Hide hamburger */
    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        border-color: #062C57;
    }

    /* Item */
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-text {
        color: white;
    }

        .navbar-inverse .navbar-nav > li > a:focus,
        .navbar-inverse .navbar-nav > li > a:hover {
            text-decoration: underline;
        }

    /* Chosen item */
    .navbar-inverse .navbar-nav > li.active > a,
    .navbar-inverse .navbar-nav > li.active > a:focus,
    .navbar-inverse .navbar-nav > li.active > a:hover {
        background-color: #062C57;
        text-decoration: none;
        font-weight: bold;
    }

/* Sub-navigation */

/* Item separator */
.subnav .breadcrumb > li + li:before {
    color: gray;
}

/* Item */
.subnav .breadcrumb > li > a {
    color: #1D52DE;
    text-decoration: none;
}

    .subnav .breadcrumb > li > a:hover,
    .subnav .breadcrumb > li > a:focus {
        color: #1D52DE;
        text-decoration: underline;
    }

/* Left navigation */
.sidenav,
.sidefilter,
.sidetoc {
    background-color: #097252;
    border-left: 1px solid #00583D;
    border-right: 1px solid #00583D;
}

    /* Show/Hide navigation */
    .sidenav .toc-toggle {
        color: white;
    }

    /* List of items (namespaces) */
    .sidetoc .toc {
        background-color: #097252;
    }

        .sidetoc .toc .level1 > li {
            margin-top: 0;
            font-size: 14px;
        }

        /* List of sub-items (classes) */
        .sidetoc .toc .level2 {
            margin-left: 10px;
        }

        /* Plus/Minus */
        .sidetoc .toc .nav > li > .expand-stub,
        .sidetoc .toc .nav > li > .expand-stub:hover,
        .sidetoc .toc .nav > li > .expand-stub:focus {
            color: white;
            text-decoration: none;
            padding-top: 5px;
        }

        /* Item */
        .sidetoc .toc .nav > li > a {
            color: white;
            padding: 5px 10px 5px 10px;
        }

            .sidetoc .toc .nav > li > a:hover,
            .sidetoc .toc .nav > li > a:focus {
                color: white;
                text-decoration: underline;
            }

        /* Chosen item */
        .sidetoc .toc .nav > li.active > a,
        .sidetoc .toc .nav > li.active > a:hover,
        .sidetoc .toc .nav > li.active > a:focus {
            color: white;
            font-weight: bold;
            background-color: #00583D;
            text-decoration: none;
        }

/* Right navigation */

/* Item */
.affix ul > li > a {
    color: black;
}

    .affix ul > li > a:hover,
    .affix ul > li > a:focus {
        color: black;
        text-decoration: underline;
    }

/* Contribution */
.contribution .nav > li > a {
    color: #1D52DE;
}

    .contribution .nav > li > a:hover,
    .contribution .nav > li > a:focus {
        color: #1D52DE;
        text-decoration: underline;
    }

/* Articles */
article .decalaration,
article .fieldValue,
article .parameters,
article .returns {
    color: gray;
}

/* Links in articles */
article a {
    color: #1D52DE;
    text-decoration: underline;
}

    article a:hover,
    article a:focus {
        color: #1D52DE;
        text-decoration: none;
    }

/* Bottom footer */
.footer {
    border-top: 1px solid #062C57;
    background-color: #062C57;
    color: lightgray;
}

    .footer button:hover,
    .footer button:focus {
        color: white;
    }

    /* Back To Top */
    .footer .pull-right a {
        color: lightgray;
    }
