:root {
    --bs-border-radius: 0;
    /* Custom colors */
    --hx-navbar-bg: #113E70;
}

[data-bs-theme=light] {
    --bs-link-color-rgb: 29, 82, 222;
    --bs-link-hover-color-rgb: 29, 82, 222;
    --bs-heading-color: #312697;
    --bs-border-color: #062C57;
    --bs-border-color-translucent: #062C57;
}

[data-bs-theme=dark] {
    --bs-link-color-rgb: 89, 159, 214;
    --bs-link-hover-color-rgb: 89, 159, 214;
    --bs-heading-color: #6B63B8;
    --bs-border-color: #386598;
    --bs-border-color-translucent: #1D528E;
}

    [data-bs-theme=dark] nav.toc > .flex-fill {
        background-color: #00583D;
    }


a:hover,
a:focus {
    text-decoration: none;
}

/* Main menu */
.navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: white;
    --bs-navbar-active-color: white;
    background-color: var(--hx-navbar-bg);
}

    /* Brand Logo */
    .navbar #logo {
        width: 50px;
        height: 50px;
    }

    /* Show/Hide three dots */
    .navbar .bi-three-dots {
        color: white;
    }

    .navbar .dropdown-toggle {
        color: white;
    }

    .navbar .navbar-nav {
        width: 100%;
        text-align: center;
    }

        .navbar .navbar-nav > li > a:focus,
        .navbar .navbar-nav > li > a:hover {
            text-decoration: underline;
        }

        /* Chosen item */
        .navbar .navbar-nav > li > a.active,
        .navbar .navbar-nav > li > a.active:focus,
        .navbar .navbar-nav > li > a.active:hover {
            background-color: #062C57;
            text-decoration: none;
            font-weight: bold;
        }

        /* Main sub-menu*/
        .navbar .navbar-nav .dropdown-menu {
            background-color: var(--hx-navbar-bg);
        }

            .navbar .navbar-nav .dropdown-menu > li > a:focus,
            .navbar .navbar-nav .dropdown-menu > li > a:hover {
                text-decoration: underline;
            }

            /* Chosen item */
            .navbar .navbar-nav .dropdown-menu > li > a.active,
            .navbar .navbar-nav .dropdown-menu > li > a.active:focus,
            .navbar .navbar-nav .dropdown-menu > li > a.active:hover {
                text-decoration: none;
                font-weight: bold;
            }

/* Toggler menu etc. */
.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--hx-navbar-bg);
}

/* Left navigation */
nav.toc {
    padding-bottom: calc(var(--bs-gutter-x)* .5);
}

    nav.toc > .flex-fill {
        background-color: #097252;
        padding: 0.3rem;
    }

    /* Item */
    nav.toc .nav-link,
    nav.toc li > .expand-stub,
    nav.toc li > .expand-stub:hover,
    nav.toc li > .expand-stub:focus {
        color: white;
    }

    /* Chosen item */
    nav.toc li.active > a,
    nav.toc li.active > a:hover,
    nav.toc li.active > a:focus {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

/* Right navigation Header */
.affix h5 {
    font-weight: normal;
    border-bottom-color: var(--bs-heading-color);
}

/* Bottom footer */
footer {
    background-color: #062C57;
}

    footer * {
        color: lightgray;
    }
